<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top shadow-lg align-self-start">
        <a class="navbar-brand" href="index.html">
            <img src="assets/images/logo4.png" height="110" width="110" class="d-none d-sm-block">
        </a>

        <div id="navbar-brand" class="navbar-brand align-self-start">
            <a class="navbar-brand" href="index.html"><h1 id="title" class="text-white"> Yanira Martín |</h1></a>
            <p><span id="sub-title">Diseño Web</span></p>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="nav nav-tabs">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="index.html#index">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="index.html#service">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="index.html#about-me">Sobre mí</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="index.html#pricing">Packs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="index.html#works">Proyectos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="index.html#contact">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>
</header>